node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
dev.db
dev.db-journal
*.db
*.db-journal

dist/
generated/
src/generated/

.DS_Store
Thumbs.db

*.log
npm-debug.log*